{erl_opts, [debug_info]}.

{deps, [
    {iconv, "1.0.12"},
    {redbug, "2.0.7"}
]}.

{shell, [
    {apps, [elyskom]},
    {config, "config/sys.config"}
]}.

{project_plugins, [erlfmt]}.
{erlfmt, [
    write,
    {print_width, 120},
    {files, ["{src,include,test}/*.{hrl,erl,app.src}", "src/**/*.erl", "rebar.config"]}
]}.

{edoc_opts, [{preprocess, true}]}.
